<h3>目標変更</h3>
<div class="text_form">

  <%= form_with(model:[@group, @target], local: true) do |f| %>

    <div class="field">
      <%= f.label :target_content, "目標の内容" %>
      <%= f.text_area :target_content, autofocus: true, class: "text_area" %>
    </div>

    <div class="action">
      <%= f.submit "目標変更", class: "big_btn" %>
    </div>

  <%end%>
  <%= link_to group_target_path(@group, @target.id),method: :delete, class: "edit_link" do %>
    <div class="red_btn">今日の目標削除</div>
  <%end%>

</div>