<div class="entry_index">
  <h3>グループ一覧</h3>
  <table class="borderless_table">
    <thead>
      <tr>
        <th class="th1">ユーザー画像</th><th class="th2">名前</th><th class="th3"></th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td class="td1"><%= attachment_image_tag entry.user, :image, format: "jpeg", size: "100x100", class: "image"%></td>
          <td class="td2"><%= entry.user.name %></td>
          <td class="td3">
            <%= form_with(model:[@group, @group_member], local:true) do |f| %>
              <div class="action">
                <%= f.submit "許可", class: "big_btn" %>
              </div>
            <%end%>
            <%= link_to group_entry_path(@group, entry.id), method: :delete, data: {confirm: "このユーザーの加入申請を破棄します。よろしいですか？"}, class: "edit_link" do %>
              <div class="red_btn">却下</div>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>