<div class="friend">
  <h3>フレンドグループ</h3>
  <!--閲覧者がこのグループのメンバーでない場合、グループ詳細を表示しない-->
  <%if @group.user_exists?(current_user, @group) %>
  <div class="comment">
    <%= form_with(model: [@group, @message], local: true) do |f| %>

      <div class="area">
        <%= f.text_area :message, placeholder: "投稿内容を記入してください", class: "text_area"%>
      </div>

      <div class="action">
        <%= f.submit "掲示板に投稿", class: "big_btn" %>
      </div>
    <%end%>
  </div>

  <div class="messages">
    <% @messages.each do |msg| %>
      <div class="content">

        <div class="icon">
          <%= attachment_image_tag msg.user, :image, format: "jpeg", size: "70x70", class: "image", fallback: "user.png"%>
          <div class="name">
            <%= msg.user.name %>
          </div>
        </div>

        <div class="text">
          <%= msg.message %>
        </div>

        <div class="reaction">
          <div class="time"><%= l msg.created_at, format: :short %></div>

          <div id="stamp_id_<%= msg.id %>">
            <%= render 'groups/stamp', msg: msg %>
          </div>


          <% if msg.user_id == current_user.id %>
            <%= link_to group_group_message_path(@group, msg), method: :delete, class: "edit_link" do %>
              <div class="red_btn">削除</div>
            <%end%>
          <%end%>

        </div>

      </div>
    <%end%>

    <div class="leave">
      <% if @my_group_status.operation_right == 0 %>
        <%= link_to group_group_member_path(@group, current_user.id), method: :delete, data: {confirm: "このグループを退会します。本当によろしいですか？"}, class: "edit_link" do %>
          <button class="red_btn">グループ退会</button>
        <%end%>
      <%else%>
        ＊グループ作成者は退会不可能です。「情報変更」から、グループ削除をご利用ください。
      <%end%>
    </div>
  </div>



  <%else%>
  <!--このグループのメンバーでない場合の表示-->
  <div class="join">
    <div>メンバーではないため、情報を閲覧することができません！</div>
    <% if @group.direct_join == true %>
      <div class="action">
        <%= form_with(url: direct_group_group_member_path(@group.id), model:[@group, @direct_join], local: true) do |f| %>
          <%= f.submit "加入", class: "big_btn" %>
        <%end%>
        <div>＊すぐに加入できます！</div>
      </div>


    <%else%>
      <!--加入申請がすでに送られている場合は、加入申請を送れない-->
      <% unless @group.entry_exists?(current_user) %>
        <%= form_with(model:[@group, @entry], local: true) do |f| %>
          <div class="action">
            <%= f.submit "加入", class: "big_btn" %>
            <div>＊加入申請を送信します！</div>
          </div>
        <%end%>
      <%else%>
        <div>申請を送りました！承諾された場合、グループを利用することができます！</div>
      <%end%>
    <%end%>
  </div>
  <%end%>
</div>
