<div class="friend">
  <h3>フレンドグループ</h3>
  <%if @group.user_exists?(current_user, @group) %>
  <div class="comment">
    <%= form_with(model: [@group, @message], local: true) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :group_id, :value => @group.id %>

      <div class="area">
        <%= f.text_area :message, placeholder: "投稿内容を記入してください", class: "text_area"%>
      </div>

      <div class="action">
        <%= f.submit "掲示板に投稿", class: "big_btn" %>
      </div>
    <%end%>
  </div>

  <div class="messages">
    <% @messages.each do |m| %>
      <div class="content">

        <div class="icon">
          <%= attachment_image_tag m.user, :image, format: "jpeg", size: "70x70", class: "image", fallback: "user.png"%>
          <div class="name">
            <%= m.user.name %>
          </div>
        </div>

        <div class="text">
          <%= m.message %>
        </div>

        <div class="reaction">
          <div class="time"><%= l m.created_at, format: :short %></div>

          <div class="stamp">
            <div>
              <% if m.stamp1_exists?(current_user.id, m.id) %>
                <%= link_to group_stamp_path(@group.id, m.id, choose_stamp: 1), method: :delete do %>
                  <div class="true_stamp_1"></div><%= m.stamp_count1.count %>
                <%end%>
              <%else%>
                <%= form_with(model: [@group, @stamp], local: true) do |f| %>
                  <%= f.hidden_field :choose_stamp, :value => 1 %>
                  <%= hidden_field_tag :message_id, m.id %>
                  <%= f.submit class: "stamp_1" %><%= m.stamp_count1.count %>
                <%end%>
              <%end%>
            </div>

            <div>
              <% if m.stamp2_exists?(current_user.id, m.id) %>
                <%= link_to group_stamp_path(@group.id, m.id, choose_stamp: 2), method: :delete do %>
                  <div class="true_stamp_2"></div><%= m.stamp_count2.count %>
                <%end%>
              <%else%>
                <%= form_with(model: [@group, @stamp], local: true) do |f| %>
                  <%= f.hidden_field :choose_stamp, :value => 2 %>
                  <%= hidden_field_tag :message_id, m.id %>
                  <%= f.submit class: "stamp_2" %><%= m.stamp_count2.count %>
                <%end%>
              <%end%>
            </div>

            <div>
              <% if m.stamp3_exists?(current_user.id, m.id) %>
                <%= link_to group_stamp_path(@group.id, m.id, choose_stamp: 3), method: :delete do %>
                  <div class="true_stamp_3"></div><%= m.stamp_count3.count %>
                <%end%>
              <%else%>
                <%= form_with(model: [@group, @stamp], local: true) do |f| %>
                  <%= f.hidden_field :choose_stamp, :value => 3 %>
                  <%= hidden_field_tag :message_id, m.id %>
                  <%= f.submit class: "stamp_3" %><%= m.stamp_count3.count %>
                <%end%>
              <%end%>
            </div>
          </div>

          <% if m.user_id == current_user.id %>
            <%= link_to group_group_message_path(@group, m), method: :delete, class: "edit_link" do %>
              <div class="red_btn">削除</div>
            <%end%>
          <%end%>

        </div>

      </div>
    <%end%>
  </div>
  <div class="leave">
      <% if @group.user_exists?(current_user, @group) && @my_group_status.operation_right == 0 %>
        <%= link_to group_group_member_path(@group, current_user.id), method: :delete, data: {confirm: "このグループを退会します。本当によろしいですか？"}, class: "edit_link" do %>
          <div class="red_btn">グループ退会</div>
        <%end%>
      <%else%>
        ＊退会不可能です
      <%end%>
    </div>


  <%else%>
  <!--このグループのメンバーでない場合の表示-->
  <div class="join">
    <div>メンバーではないため、情報を閲覧することができません！</div>
    <% if @group.direct_join == true %>
      <div class="action">
        <%= form_with(url: direct_group_group_member_path(@group.id), model:[@group, @direct_join], local: true) do |f| %>
          <%= f.submit "加入", class: "big_btn" %>
        <%end%>
        <div>＊すぐに加入できます！</div>
      </div>


    <%else%>
      <!--加入申請がすでに送られている場合は、加入申請を送れない-->
      <% unless @group.entry_exists?(current_user) %>
        <%= form_with(model:[@group, @entry], local: true) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :group_id, :value => @group.id %>
          <div class="action">
            <%= f.submit "加入", class: "big_btn" %>
            <div>＊加入申請を送信します！</div>
          </div>
        <%end%>
      <%else%>
        <div>申請を送りました！承諾された場合、グループを利用することができます！</div>
      <%end%>
    <%end%>
  </div>
  <%end%>
</div>
