<div class="work">
  <%if @group.user_exists?(current_user, @group) %>
    <h3>データ</h3>
    <div class="data">
      <% if @today_my_target == 0 %>
        <%= form_with(model: [@group, @target], local: true) do |f| %>

          <div class="area">
            <div>一日一回、記入してください！</div>
            <%= f.text_area :target_content, placeholder: "今日の目標を一言！", class: "text_area", id: "session_target" %>
          </div>

          <div class="field">
            <%= f.submit "今日の目標登録", class: "big_btn" %>
          </div>
        <%end%>
      <%else%>
        <div>今日の目標は記入済みです！</div>
      <%end%>
    </div>

    <div class="target">
      <h1>今日の目標</h1>
      <table border="1">
        <thead>
          <tr>
            <th>ユーザーネーム</th><th>目標</th><th>達成%</th>
          </tr>
        </thead>
        <tbody>
          <% @today_targets.each do |target| %>
            <tr>
              <td><%= attachment_image_tag @user, :image, format: "jpeg", size: "50x50", class: "image", fallback: "user.png" %><br><%= target.user.name %></td>
              <td>
                <% if target.user_id == current_user.id %>
                  <%= link_to target.target_content, edit_group_target_path(@group, target.id) %>
                <%else%>
                  <%= target.target_content %>
                <%end%>
              </td>
              <td>
                <!--リザルトが投稿されているか、未投稿ならそれは自分のtargetかの確認-->
                <% if target.achievement_exists?(target, current_user.id) == "my_result" %>

                  <!--リザルト投稿済み＆自分の投稿で、editリンクを表示-->
                  <%= link_to target.result.achievement, edit_group_result_path(@group, target.result.id) %>

                <% elsif target.achievement_exists?(target, current_user.id) == "someones_result" %>
                  <!--誰かのリザルトである場合、数値のみを表示-->
                  <%= target.result.achievement %>

                <% elsif target.achievement_exists?(target, current_user.id) == "my_target_yet_result" %>
                  <!--リザルト未投稿、かつ自分のtargetである場合-->
                  <%= form_with(model: [@group, @result], local: true) do |f| %>
                    <div class="area">
                      <%= f.text_field :achievement, placeholder: "0~100", id: "session_result" %>
                    </div>
                    <div class="field">
                      <%= f.submit "登録" %>
                    </div>
                  <%end%>

                <% elsif target.achievement_exists?(target, current_user.id) == "someones_target_yet_result" %>
                  <!--リザルト未投稿、かつ誰かのtargetである場合-->
                  <div>未記入</div>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <div class="memo">
      <h3>今日の取り組み結果メモ</h3>
      <table border="1">
        <thead>
          <tr>
            <th>ユーザーネーム</th>
            <th>取り組み結果メモ</th>
          </tr>
        </thead>
        <tbody>
          <% @today_targets.each do |target| %>
            <tr>
              <td><%= attachment_image_tag @user, :image, format: "jpeg", size: "50x50", class: "image", fallback: "user.png" %><br><%= target.user.name %></td>
              <td>
                <% if target.result_memo_exists?(target) %>
                  <%= target.result.result_memo %>
                <%else%>
                  (メモはありません)
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <dev class="paginate"><%= paginate @today_targets %></dev>

    <div class="graph">
      <h3>今日の達成度比較</h3>
      <% if false %>
        <%= column_chart @results.pluck(:created_at, :achievement), class: "graph_size" %>
      <%end%>
      <canvas id="myChart" width="200" height="100"></canvas>
      <script>draw_graph();</script>
    </div>

    <!--このグループで、自分の編集ステータスがない場合、退会ボタンを表示-->
    <div class="leave">
      <% if @my_group_status.operation_right == 0 %>
        <%= link_to group_group_member_path(@group, current_user.id), method: :delete, data: {confirm: "このグループを退会します。本当によろしいですか？"}, class: "edit_link" do %>
          <button class="red_btn">グループ退会</button>
        <%end%>
      <%else%>
        ＊グループ作成者は退会不可能です。「情報変更」から、グループ削除をご利用ください。
      <%end%>
    </div>


  <%else%>
  <!--このグループのメンバーでない場合の表示-->
  <div class="join">
    <div>メンバーではないため、情報を閲覧することができません！</div>
    <% if @group.direct_join == true %>
      <div class="action">
        <%= form_with(url: direct_group_group_member_path(@group.id), model:[@group, @direct_join], local: true) do |f| %>
          <%= f.submit "加入", class: "big_btn" %>
        <%end%>
        <div>＊すぐに加入できます！</div>
      </div>


    <%else%>
      <!--加入申請がすでに送られている場合は、加入申請を送れない-->
      <% unless @group.entry_exists?(current_user) %>
        <%= form_with(model:[@group, @entry], local: true) do |f| %>
          <div class="action">
            <%= f.submit "加入", class: "big_btn" %>
            <div>＊加入申請を送信します！</div>
          </div>
        <%end%>
      <%else%>
        <div>申請を送りました！承諾された場合、グループを利用することができます！</div>
      <%end%>
    <%end%>
  </div>
  <%end%>
</div