<div>通知機能表示欄</div>
<div class="container group_show">
  <div class="info">

    <h3>グループ情報</h3>

    <div class="type">
      <%= @group.group_type %>
    </div>
    <%= attachment_image_tag @group, :image, format: "jpeg", size: "100x100", class: "image"%>

    <div class="name">
      NAME<br><%= @group.name %>
    </div>

    <div class="intro">
      INTRO<br>
      <%= @group.intro %>
    </div>

    <%= link_to group_entries_path(@group.id), class: "edit_link" do %>
      <div class="green_btn">加入申請一覧</div>
    <%end%>

    <%= link_to edit_group_path, class: "edit_link" do %>
      <div class="green_btn">情報変更</div>
    <%end%>

  </div>

  <div class="main">

    <h3>データ</h3>
    <div class="data">
      <%= form_with(model: [@group, @target], local: true) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :group_id, :value => @group.id %>
        <div class="area">
          <%= f.text_area :target_content, placeholder: "今日の目標を一言！", class: "text_area"%>
        </div>

        <div class="field">
          <%= f.submit "今日の目標登録", class: "big_btn" %>
        </div>
      <%end%>

      <% if false %>
      <%= link_to root_path, class: "edit_link" do %>
        <div class="green_btn">目標入力</div>
      <%end%>
      <%= link_to root_path, class: "edit_link" do %>
        <div class="green_btn">結果入力</div>
      <%end%>
      <%end%>
    </div>

    <div class="calendar">
      カレンダー未設定
    </div>

    <div class="target">
      <h1>今日の目標</h1>
      <table>
        <thead>
          <tr>
            <th>ユーザーネーム</th><th>目標</th><th>達成%</th>
          </tr>
        </thead>
        <tbody>
          <% @today_targets.each do |target| %>
            <tr>
              <td><%= target.user.name %></td>
              <td>
                <% if target.user_id == current_user.id %>
                  <%= link_to target.target_content, edit_group_target_path(@group, target.id) %>
                <%else%>
                  <%= target.target_content %>
                <%end%>
              </td>
              <td>未設定</td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <div class="graph">
      <h3>一週間達成度比較</h3>
      グラフ未設定
    </div>

    <div class="join">
      <%= form_with(model:[@group, @entry], local: true) do |f| %>
        <div class="action">
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :group_id, :value => @group.id %>
          <%= f.submit "加入", class: "big_btn" %>
        </div>
      <%end%>

    <div class="leave">
      <%= link_to group_group_member_path(@group, current_user.id), method: :delete, data: {confirm: "このグループを退会します。本当によろしいですか？"}, class: "edit_link" do %>
        <div class="red_btn">グループ退会</div>
        <%end%>
    </div>

    <%= @group_members.count %>
    </div>
  </div>
</div>