<div class="text_form">
  <h3>ユーザー情報変更</h3>
  <%= form_with model: @user, local: true do |f| %>

    <%= render 'layouts/error_messages', object: f.object %>

    <div class="field">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :intro, "自己紹介" %>
      <%= f.text_area :intro, class: "text_area" %>
    </div>

    <div class="field">
      <%= f.label :image, "ユーザー画像（任意）" %>
      <%= f.attachment_field :image %>
    </div>

    <div class="action">
      <%= f.submit "ユーザー変更", class: "big_btn" %>
    </div>

  <%end%>

  <%= link_to secession_path(@user.id), method: :patch, data: {confirm: "退会した場合、このアカウントは二度と使えなくなります。本当によろしいですか？"}, class: "edit_link" do %>
    <button class="red_btn">退会</button>
  <%end%>

</div>