<h3>取組結果変更</h3>
<div class="text_form">

  <%= form_with(model:[@target, @result], local: true) do |f| %>

    <div class="field">
      <%= f.label :achievement, "達成割合（数字のみ）" %>
      <%= f.text_field :achievement, autofocus: true, placeholder: "0~100" %>
    </div>


    <div class="field">
      <%= f.label :result_memo, "取組結果のメモ（任意）" %>
      <%= f.text_area :result_memo, class: "text_area" %>
    </div>

    <div class="action">
      <%= f.submit "目標変更", class: "big_btn" %>
    </div>

  <%end%>

</div>