<!DOCTYPE html>
<html>
  <head>
    <title>WorkFriend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header" %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
